@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body {
    background: url('./img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    background-color: rgba(14, 105, 166, 0.9);
    width: 80%;
    padding: 40px;
    display: flex;
    border-radius: 50px;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    height: 85vh;
}
.logo {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 180px;
}
.content {
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}
.actions {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 45px;
}
.reading-item {
    background-color: rgba(255, 255, 255, 0.87);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0px;
    width: 200px;
    height: 40px;
    font-size: 17px;
}
.reading-item span {
    font-size: 12px;
}
.reading-item .img-cont {
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reading-item .img-cont img {
    width: 100%;
    overflow: hidden;
}
.reading-item:last-child .img-cont img {
    width: 50%;
    overflow: hidden;
}
.reading-item .item-conatiner {
    /* background-color: yellow; */
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.reading-item .img img {
    width: 100%;
}
.btn {
    width: 140px;
    font-weight: 700;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgba(19, 7, 7, 0.87);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn img {
    width: 15px;
    height: 20px;
    margin-left: 10px;
}
.reading-item .tit {
    font-size: 22px;
    color: rgba(14, 105, 166, 0.9);
    margin-left: 10px;
}
.reading-item .value {
    font-size: 17px;
    margin-left: 3px;
    color: #3a3a3a;
}
.swimmer-status {
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 220px;
}
.swimmer-status h3 {
    font-size: 15px;
    font-weight: 700;
}

.normal-status {
    color: rgba(14, 105, 166, 1);
    font-size: 40px;
    margin-top: 25px;
    /* display: none; */
}
.drowning-status {
    color: white;
    background-color: #a82424;
    padding: 10px;
    font-size: 40px;
    margin-top: 25px;
    border-radius: 10px;
    text-align: center;
    display: none;
}
